@using static System.Net.WebRequestMethods;
@model CourierRates.Models.RateRequest

<style>
   /* #shipformblock .col-form-label, #Shiptoblock .col-form-label {
        padding: 6px 7px 6px 12px;
    }*/

    .col-form-label {
        font-size: 0.90em;
    }

    }
    .alert-message {
        font-size: 0.90em;
    }

    .form-check-label {
        line-height: 18px;
        font-weight: 600;
        padding-left: 5px;
        font-size: 0.90em !important;
    }

    #searchbtn i {
        margin-left: 3px;
    }

    #shipping-details {
        padding: 2em 0;
    }

    .form-control {
        font-size: 0.90em;
    }

    .required {
        display: inline-block;
        vertical-align: baseline;
        margin: 0;
        color: #fe0000;
        position: relative;
        left: -1px;
    }

    #admindashboard .card-header {
        padding: 0.25rem 1em;
    }

    .card-body {
        padding: 0.85rem;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    .alert-message {
        background: #d9edf7;
        color: #3170aa;
        padding: 5px;
        border: 1px #9fcbd4 solid;
        font-size: 0.87em;
        width: 100%;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }

    label.form-check-label input {
        position: relative;
        top: 2px;
        right: 5px;
    }
</style>

<section id="ShipmentDetailOuter">
    @*<form action=""  class="col-12 px-0">*@
        @using (Html.BeginForm("ShipmentDetails", "Home", FormMethod.Post))
        {
        <div class="container-fluid">
            <div class="row">
                <div id="ShipmentDetailDiv" class="card-body collapse show p-2">
                        <div class="col-md-12 mt-2">
                            <div class="row">
                                <!-- ship from start -->
                            <div class="col-xl-6 col-lg-12 mb-2 mb-xl-0">
                                    <div class="card mb-xl-2">
                                        <div class="card-header card-raised bg-primary text-white">
                                            <div class="row justify-content-between align-items-center">
                                                <span class="col-auto mb-0 d-inline-block text-uppercase">Ship From</span>
                                                <div class="col-auto">
                                                    <button id="searchbtn" type="button" class="btn btn-sm btn-warning">Search Address <i class="fas fa-search"></i></button>
                                                    <button type="button" class="btn btn-sm btn-secondary ml-2">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="shipformblock" class="card-body">
                                            @*<form class="w-100">*@
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12 col-12">
                                                        <div class="form-row">
                                                            <label class="col-form-label col-xl-4">
                                                                Company
                                                                <span class="text-danger required">*</span>
                                                            </label>
                                                            <div class="col-xl-8">
                                                            <input type="text" class="form-control" name="FromAddress.company_name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-12">
                                                        <div class="form-row">
                                                            <label class="col-form-label col-xl-4 pl-xl-2">
                                                                Date
                                                                <span class="text-danger required">*</span>
                                                            </label>
                                                            <div class="col-xl-8">
                                                                <input type="Date" class="form-control" name="Date">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="row mt-3 mb-2">
                                                    <div class="col-lg-4 col-md-4 px-lg-2">
                                                        <div class="alert-message mt-md-0 mt-2 mb-2 mb-md-0">P.O Box address not allowed</div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8">
                                                        <div class="form-inline row">
                                                            <div class="col-sm-6 col-md-6 col-12 px-md-2">
                                                                <div class="row">
                                                                    <label class="col-form-label col-auto col-md-4 px-md-1">ShortCode</label>
                                                                    <div class="col-md-8 col-12 col-sm-12">
                                                                        <input type="text" class="form-control" name="ShortCode" style="max-width:100%;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-auto px-md-2 mt-2 mt-sm-0">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                    <label class="form-check-label" for="exampleCheck1">Save Address</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                                
                                                <div class="row mt-2">

                                                <div class="form-group col-lg-12 col-xl-12">
                                                    <div class="row">
                                                        <label class="col-form-label col-xl-2">Name <span class="text-danger required">*</span></label>
                                                        <div class="col-xl-10">
                                                            @Html.TextBoxFor(x=>x.from_address.name,"",new {@class = "form-control"})
                                                            @*<input type="text" name="FromAddress.name" class="form-control">*@
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div class="form-group col-lg-12 col-xl-12">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-2">Address1 <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-10">
                                                        @Html.TextBoxFor(x=>x.from_address.address_line1,"",new {@class = "form-control"})
                                                                @*<input type="text" name="Address1" class="form-control">*@
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-lg-12 col-xl-12">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-2">Address2 <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-10">
                                                                @Html.TextBoxFor(x=>x.from_address.address_line2,"",new {@class = "form-control"})
                                                                @*<input type="text" name="Address2" class="form-control">*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                <div class="form-group col-lg-12 col-xl-12">
                                                    <div class="row">
                                                        <label class="col-form-label col-xl-2">Address3 <span class="text-danger required">*</span></label>
                                                        <div class="col-xl-10">
                                                            @Html.TextBoxFor(x=>x.from_address.address_line3,"",new {@class = "form-control"})
                                                            @*<input type="text" name="Address3" class="form-control">*@
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4">Country <span class="required">*</span></label>
                                                            <div class="col-xl-8">
                                                        @Html.DropDownListFor(x=>x.from_address.country_code,Model.Country_List,new {@class = "form-select"})
                                                @*<select class="form-select">
                                                                    <option value="0">Select Country</option>
                                                                    <option value="CA">Canada</option>
                                                                    <option value="IN">India</option>
                                                                </select>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4 px-xl-2">Zip/Postal <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-8">
                                                        @Html.TextBoxFor(x=>x.from_address.postal_code,new {@class = "form-control"})
                                                                @*<input type="text" name="Zip" class="form-control">*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4">State</label>
                                                            <div class="col-xl-8">
                                                        @Html.DropDownListFor(x=>x.from_address.state_province,Model.StateList,new {@class = "form-select"})
                                                @*<select class="form-select">
                                                                    <option>Please Select</option>
                                                                    <option>State</option>
                                                                    <option>Punjab</option>
                                                                </select>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4 px-xl-2">City <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-8">
                                                        @Html.DropDownListFor(x=> x.from_address.city,new List<SelectListItem>(),new {@class = "form-select"})
                                                                @*<input type="text" name="City" class="form-control">*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4">Phone <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-8">
                                                            @Html.TextBoxFor(x=>x.from_address.phone,new {@class = "form-control"})
                                                                @*<input type="text" name="Phone" class="form-control">*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4 px-xl-2">Attention <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-8">
                                                                <input type="text" name="Attention" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4">Email</label>
                                                            <div class="col-xl-8">
                                                                @Html.TextBoxFor(x=>x.from_address.email,new {@class ="form-control"})
                                                                @*<input type="text" name="Email" class="form-control">*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 d-xl-block d-none form-group"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-xl-12 form-group">
                                                        <div class="row justify-content-between">
                                                            <label class="col-form-label col-lg-2 d-xl-block d-none"></label>
                                                            <div class="col-md-5 col-auto">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="NotifyShipper">
                                                                    <label class="form-check-label" for="NotifyShipper">Notify Shipper</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5 col-auto">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="Residential">
                                                                    <label class="form-check-label" for="Residential">Residential</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-lg-6 col-xl-12">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-2">Instructions</label>
                                                            <div class="col-xl-10">
                                                                <input type="text" name="Instructions" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            @*</form>*@
                                        </div>
                                    </div>
                                    <div class="card mb-xl-2 mt-2">
                                        <div class="card-header card-raised bg-primary text-white">
                                            <span class="text-uppercase d-block">Packaging</span>
                                        </div>
                                        <div class="card-body" style="min-height:70px;">
                                            <div class="row">
                                                <div class="col-12 col-md-auto">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="optradio">Env
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-auto">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="optradio">Pak
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-auto">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="optradio">Your Own Packaging
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- ship from end -->
                                <!-- ship to start -->
                            <div class="col-xl-6 col-lg-12 mb-2 mb-xl-0">
                                    <div class="card mb-xl-2">
                                        <div class="card-header card-raised bg-primary text-white">
                                            <div class="row justify-content-between align-items-center">
                                                <span class="col-auto mb-0 d-inline-block text-uppercase">Ship To</span>
                                                <div class="col-auto">
                                                    <button id="searchbtn" type="button" class="btn btn-sm btn-warning">Search Address <i class="fas fa-search"></i></button>
                                                    <button type="button" class="btn btn-sm btn-secondary ml-2">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Shiptoblock" class="card-body">
                                            <form class="w-100">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12 col-12">
                                                        <div class="form-row">
                                                            <label class="col-form-label col-xl-4">
                                                                Company
                                                                <span class="text-danger required">*</span>
                                                            </label>
                                                            <div class="col-xl-8">
                                                                <input type="text" class="form-control" name="company">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="row mt-3 mb-2">
                                                    <div class="col-lg-4 col-md-4 px-lg-2">
                                                        <div class="alert-message mt-md-0 mt-2 mb-2 mb-md-0">P.O Box address not allowed</div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8">
                                                        <div class="form-inline row">
                                                            <div class="col-sm-6 col-md-6 col-12 px-md-2">
                                                                <div class="row">
                                                                    <label class="col-form-label col-auto col-md-4 px-md-1">ShortCode</label>
                                                                    <div class="col-md-8 col-12 col-sm-12">
                                                                        <input type="text" class="form-control" name="ShortCode" style="max-width:100%;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-auto px-md-2 mt-2 mt-sm-0">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                    <label class="form-check-label" for="exampleCheck1">Save Address</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                                <div class="row mt-2">
                                                <div class="form-group col-lg-12 col-xl-12">
                                                    <div class="row">
                                                        <label class="col-form-label col-xl-2">Name <span class="text-danger required">*</span></label>
                                                        <div class="col-xl-10">
                                                            <input type="text" name="Name" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div class="form-group col-lg-12 col-xl-12">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-2">Address1 <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-10">
                                                                <input type="text" name="Address1" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-lg-12 col-xl-12">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-2">Address2 <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-10">
                                                                <input type="text" name="Address2" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-12 col-xl-12">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-2">Address3 <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-10">
                                                                <input type="text" name="Address3" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4">Country <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-8">
                                                <select class="form-select">
                                                                    <option>Select Country</option>
                                                                    <option>Canada</option>
                                                                    <option>India</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4 px-xl-2">Zip/Postal <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-8">
                                                                <input type="text" name="Zip" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4">State</label>
                                                            <div class="col-xl-8">
                                                <select class="form-select">
                                                                    <option>Please Select</option>
                                                                    <option>State</option>
                                                                    <option>Punjab</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4 px-xl-2">City <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-8">
                                                                <input type="text" name="City" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4">Phone <span class="required">*</span></label>
                                                            <div class="col-xl-8">
                                                                <input type="text" name="Phone" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4 px-xl-2">Attention <span class="text-danger required">*</span></label>
                                                            <div class="col-xl-8">
                                                                <input type="text" name="Attention" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-4">Email</label>
                                                            <div class="col-xl-8">
                                                                <input type="text" name="Email" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 d-xl-block d-none form-group"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-xl-12 form-group">
                                                        <div class="row justify-content-between">
                                                            <label class="col-form-label col-lg-2 d-xl-block d-none"></label>
                                                            <div class="col-md-5 col-auto">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="NotifyShipper">
                                                                    <label class="form-check-label" for="NotifyShipper">Notify Recipient</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5 col-auto">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="Residential">
                                                                    <label class="form-check-label" for="Residential">Residential</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-lg-6 col-xl-12">
                                                        <div class="row">
                                                            <label class="col-form-label col-xl-2">Instructions</label>
                                                            <div class="col-xl-10">
                                                                <input type="text" name="Instructions" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card mb-xl-0 mt-2">
                                        <div class="card-header card-raised bg-primary text-white">
                                            <span class="text-uppercase d-block">References</span>
                                        </div>
                                        <div class="card-body" style="min-height:70px;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form>
                                                        <div class="form-group mb-0">
                                                            <div class="row">
                                                                <label class="col-md-2 col-form-label">Ref.Code</label>
                                                                <div class="col-md-10">
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ship top end -->

                            </div>


                        </div>

                    <!-- Packaging Details Start -->

                        <div class="col-md-12">
                            <div class="row mx-0">
                                <div class="card w-100 px-0">
                                    <div class="card-header card-raised bg-primary text-white">
                                        <div class="row justify-content-between align-items-center">
                                            <span class="text-uppercase col-auto">Packaging Details</span>
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-sm btn-secondary">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-auto col-12">
                                                <div class="row">
                                                    <div class="col-md-auto col-12">
                                                        <div class="row">
                                                        <label class="col-form-label col-md-5 col-12">Service Type</label>
                                                            <div class="col-md-7 col-12">
                                                 <select class="form-select">
                                                                <option value="canada_post_priority">Canada Post Priority</option>
                                                                <option value="usps_first_class_mail_international"> Ups Mail International</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-auto col-12">
                                                        <div class="form-group">
                                                            <div class="row mx-0">
                                                                <div class="form-check col-md-auto col-12">
                                                                    <label class="form-check-label">
                                                                        <input type="radio" name="optradio" class="form-check-input">Doc
                                                                    </label>
                                                                </div>
                                                                <div class="form-check col-md-auto col-12">
                                                                    <label class="form-check-label">
                                                                        <input type="radio" name="optradio" class="form-check-input">Non Doc
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-auto col-12">
                                                <div class="alert-message mt-2 mt-xl-0">
                                                    Please note:A Additional charges may apply if dimensional weight are heigher than the physical
                                                    weights
                                                    entered on this page
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="table-responsive mb-0">
                                                    <table class="table table-bordered mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Description</th>
                                                                <th>Length(IN)</th>
                                                                <th>Width(IN)</th>
                                                                <th>Height(IN)</th>
                                                                <th>Weight(LBS)</th>
                                                                <th>Total Volume Weight</th>
                                                                <th>Insurance Amt</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td style="min-width:30px;">1</td>
                                                                <td><textarea rows="1" placeholder="Dox" class="form-control"></textarea></td>
                                                                <td><input type="text" placeholder="1" class="form-control"></td>
                                                                <td><input type="text" placeholder="1" class="form-control"></td>
                                                                <td><input type="text" placeholder="1" class="form-control"></td>
                                                                <td><input type="text" placeholder="1" class="form-control"></td>
                                                                <td><input type="text" placeholder="1" class="form-control"></td>
                                                                <td><input type="text" placeholder="0.00" class="form-control"></td>
                                                                <td><button class="btn btn-warning btn-sm">Repeat</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Dimensions $ Weight End -->

                        <div class="col-md-12 mt-2">
                            <div class="row mx-0">
                                <div class="card w-100 mb-xl-2 px-0">
                                    <div class="card-header card-raised bg-primary text-white">
                                        <div class="row justify-content-between align-items-center">
                                            <span class="text-uppercase col-auto">Additional Services</span>
                                            <!-- <div class="col-auto">
                                                <button type="button" class="btn btn-sm btn-secondary">Clear</button>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <div class="form-group mb-1">
                                                    <div class="form-check mb-0">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value="">Saturday Delivery
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value="">Saturday Pickup
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-12 mt-2 mt-lg-0">
                                                <div class="row">
                                                <label class="col-form-label col-md-5 col-12">Delivery Confirm Type</label>
                                                <div class="col-md-7 col-12">
                                                    <select class="form-select">
                                                        <option vlaue="none">None</option>
                                                        <option vlaue="tracking">Tracking</option>
                                                        <option vlaue="signature">Signature</option>
                                                        <option vlaue="adult_signature">Adult Signature</option>
                                                        <option vlaue="direct_signature">Direct Signature</option>
                                                        <option vlaue="delivery_confirmation_mailed">Delivery Confirmation Mailed</option>
                                                    </select>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-12 mt-2 mt-lg-0">
                                                <div class="row">
                                                <label class="col-form-label col-md-5 col-12">Signature Required</label>
                                                <div class="col-md-7 col-12">
                                                        <select class="form-select">
                                                            <option>No</option>
                                                            <option>Yes</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-12 mt-2 mt-lg-0">
                                                <div class="form-group mb-1">
                                                    <div class="row">
                                                    <label class="col-form-label col-md-5 col-12">Insurance Provider</label>
                                                    <div class="col-md-7 col-12">
                                                            <select class="form-select">
                                                                <option value="stamps_com">Stamps Com</option>
                                                                <option vlaue="carrier">Carrier</option>
                                                                <option vlaue="carrier">Parcel Guard</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="col-lg-4 col-md-12 col-12 mt-2 mt-lg-0">
                                                <div class="form-group mb-1">
                                                    <div class="row">
                                                    <label class="col-form-label col-md-5 col-12">Amount<span style="margin-left:4px;font-weight:600;">(USD)</span></label>
                                                    <div class="col-md-7 col-12">
                                                            <input type="text" class="form-control" name="10" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
            </div>
            <button class="center form-group btn btn-primary" type="submit">Get Rates</button>
        </div>
        
    }
</section>
